#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ignore generated kube files
aws-auth-cm.yaml
aws_config_map_aws_auth
kubeconfig_aws

# Ignore aws-iam-authenticator executable
aws-iam-authenticator
